.HamburgerMenu {
  position: fixed;
  top: 6rem;
  right: 0;
  z-index: 2;
  width: 100%;
  height: calc(100% - 6rem);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff; }
  @media (min-width: 768px) {
    .HamburgerMenu {
      max-width: 30rem; } }
  .HamburgerMenu .nav-list {
    width: 100%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    text-align: center; }
    .HamburgerMenu .nav-list .nav-item {
      width: 100%;
      margin: 1rem 0; }
      .HamburgerMenu .nav-list .nav-item:first-of-type {
        margin-top: 0; }
      .HamburgerMenu .nav-list .nav-item:last-of-type {
        margin-bottom: 0; }
      .HamburgerMenu .nav-list .nav-item a {
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.7);
        transition: color 0.2s;
        padding: 0.5rem;
        display: inline-block;
        width: 100%; }
        .HamburgerMenu .nav-list .nav-item a.active {
          color: black; }
        .desktop .HamburgerMenu .nav-list .nav-item a:hover {
          color: black; }
