.HamburgerButton .bars-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem; }
  .HamburgerButton .bars-container > .bar {
    width: 100%;
    height: 2px;
    background: #000;
    transform-origin: top left; }
